<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/baby.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
    
</head>
<body>
    {% include 'header.html' %}
    

<div id="customCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="4"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'asset/diapperingessentials.png' %}" class="d-block w-100" alt="Slide 1">

        </div>
        <div class="carousel-item">
            <img src="{% static 'asset/ad3.png' %}" class="d-block w-100" alt="Slide 2">

        </div>
        <div class="carousel-item">
            <img src="{% static 'asset/ad.png' %}" class="d-block w-100" alt="Slide 3">
        </div>
        <div class="carousel-item">
            <img src="{% static 'asset/johnson.png' %}" class="d-block w-100" alt="Slide 4">
        </div>
        <div class="carousel-item">
            <img src="{% static 'asset/mamabby.png' %}" class="d-block w-100" alt="Slide 5">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
        <span class="custom-carousel-control" aria-hidden="true">&#10094;</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
        <span class="custom-carousel-control" aria-hidden="true">&#10095;</span>
    </button>
</div>
<section class="shop-by-category ">
    
    <h2>Shop By Category</h2>
    <div class="category-container">
        <div class="category-card">
            <a href="{% url 'diapers' %}">
            <img src="{% static 'asset/diapers.png' %}" alt="Diapers">
        </a>
        </div>
        <div class="category-card">
            <a href="{% url 'wipes' %}">
            <img src="{% static 'asset/wipes&buds.png' %}" alt="Wipes & Buds">
            </a>
        </div>
        <div class="category-card">
            <a href="{% url 'babypowder' %}">
            <img src="{% static 'asset/babypowder.png' %}" alt="Baby Powder">
         </a>
        </div>
        <div class="category-card">
            <a href="{% url 'babyoils' %}">
            <img src="{% static 'asset/babyoils.png' %}" alt="Baby Oils">
            </a>
        </div>
        <div class="category-card">
            <a href="{% url 'bodywash' %}">
            <img src="{% static 'asset/bodywash&soaps.png' %}" alt="Body Wash & Soaps">
            </a>
        </div>
        <div class="category-card">
            <img src="{% static 'asset/shampoo&conditioner.png' %}" alt="Shampoo & Conditioner">
        </div>
        <div class="category-card">
            <img src="{% static 'asset/lotions&creams.png' %}" alt="Lotions & Creams">
        </div>
        <div class="category-card">
           
            <img src="{% static 'asset/stretchmark.png' %}" alt="Stretch Mark Creams & Oils">

            
        </div> 
    </div>
</section>
<section class="shop-by-brand">
    <h2 class="shop-by-brand-heading">Brands That Mothers Love</h2>
    <div class="brands-container">
        <div class="brand-card">
              <img src="{% static 'asset/mamearth.png' %}" alt="MamaEarth">
              <div class="brand-name">MamaEarth</div>
              <div class="discount">Up To 18% Off</div>
          </div>
        <div class="brand-card">
            <img src="{% static 'asset/themoms.png' %}" alt="The Moms Co.">
            <div class="brand-name">The Moms Co.</div>
            <div class="discount">Up To 35% Off</div>
        </div>
        <div class="brand-card">
            <img src="{% static 'asset/cetaphil.png' %}" alt="Cetaphil">
            <div class="brand-name">Cetaphil</div>
            <div class="discount">Up To 20% Off</div>
        </div>
        <div class="brand-card">
            <img src="{% static 'asset/aveeno.png' %}" alt="Aveeno">
            <div class="brand-name">Aveeno</div>
            <div class="discount">Up To 15% Off</div>
        </div>
        <div class="brand-card">
            <img src="{% static 'asset/sebamed.png' %}" alt="Sebamed">
            <div class="brand-name">Sebamed</div>
            <div class="discount">Up To 10% Off</div>
        </div>
        <br>
        <br>
        <br>
        <div class="brand-card">
                <img src="{% static 'asset/himalaya.png' %}" alt="Himalaya"> 
                <div class="brand-name">Himalaya</div>
                <div class="discount">Up To 45% Off</div>
            </div>
            <div class="brand-card">
                <img src="{% static 'asset/johnson-2.png' %}" alt="Johnson's">
                <div class="brand-name">Johnson's</div>
                <div class="discount">Up To 27% Off</div>
            </div>
            <div class="brand-card">
                <img src="{% static 'asset/bio oil.png' %}" alt="Bio Oil">
                <div class="brand-name">Bio-Oil</div>
                <div class="discount">Up To 35% Off</div>
            </div>
            
            <div class="brand-card">
                <img src="{% static 'asset/mothersparsh.png' %}" alt="Mother Sparsh">
                <div class="brand-name">Mother Sparsh</div>
                <div class="discount">Up To 40% off </div>
            </div>
            <div class="brand-card">
                <img src="{% static 'asset/pampers.png' %}" alt="Pampers">
                <div class="brand-name">Pampers</div>
                <div class="discount">Up To 25% off</div>
            </div>
            <div class="brand-card">
                <img src="{% static 'asset/nat habit.png' %}" alt="Nat Habit">
                <div class="brand-name">nat habit</div>
                <div class="discount">Up To 20% off</div>
            </div>
            <div class="brand-card">
                <img src="{% static 'asset/balmers.png' %}" alt="Palmers">
                <div class="brand-name">palmers</div>
                <div class="discount">Up To 20% off</div>
            </div>
            <div class="brand-card">
                <img src="{% static 'asset/kamaayurved.png' %}" alt="Kama Ayurveda">
                <div class="brand-name">Kama Ayurveda</div>
                <div class="discount">Get Free Gift</div>
            </div>
    </div>
    </section>
     <br>
    <br>
    <br>
  <div class="product-slider-container">
    <h2 class="product-slider-heading">On Everyone’s Wishlist</h2>
    <div class="product-slider">
        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/c/6/c634bc510181040313_1.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 1">
            <p class="badge">NEW</p>
            <p class="rating">4.5★/5 (10)</p>
            <p class="name">NARS Radiant Creamy Concealer</p>
            <p class="shades">31 Shades</p>
            <p class="price">₹3000</p>
        </div>
        
        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/3/9/39019a16001159111856_1.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 2">
            <p class="badge">BESTSELLER</p>
            <p class="rating">4.4★/5 (3.6k)</p>
            <p class="name">Maybelline Lash Sensational Mascara</p>
            <p class="shades">4 Shades</p>
            <p class="price">₹559 <span class="old-price">₹799</span> <span class="discount">30%</span></p>
        </div>
        
        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/1/4/145c627381370036647_01.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 3">
            <p class="badge">BESTSELLER</p>
            <p class="rating">4.4★/5 (3.7k)</p>
            <p class="name">Charlotte Tilbury Airbrush Flawless Foundation</p>
            <p class="shades">24 Shades</p>
            <p class="price">₹4900</p>
        </div>

        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/6/a/6a859ea8901138512576_1.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 4">
            <p class="badge">BESTSELLER</p>
            <p class="rating">4.4★/5 (8.8k)</p>
            <p class="name">M.A.C MACximal Matte Lipstick</p>
            <p class="shades">28 Shades</p>
            <p class="price">₹2550</p>
        </div>

        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/1/b/1b5c1a59318637043316_1.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 5">
            <p class="badge">BESTSELLER</p>
            <p class="rating">4.3★/5 (882)</p>
            <p class="name">TIRTIR Mask Fit Red Mini Cushion Foundation</p>
            <p class="shades">30 Shades</p>
            <p class="price">₹1020</p>
        </div>
        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/0/a/0a40fdc8906014832168_1.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 6">
            <p class="badge">OFFER</p>
            <p class="rating">4.4★/5 (57.2k)</p>
            <p class="name">Lakme 9 To 5 Eyeconic Liquid Eyeliner..</p>
            <p class="shades">4.5ml</p>
            <p class="price">₹299</p>
        </div>

        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/3/0/301fbda764560702889_1.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 7">
            <p class="badge">OFFER</p>
            <p class="rating">4.4★/5 (8.1k)</p>
            <p class="name">Praush Plush Matte Lipstick</p>
            <p class="shades">10 Shades</p>
            <p class="price">₹499</p>
        </div>

        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/2/5/2589fa78901012116944_1.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 8">
            <p class="badge">BESTSELLER</p>
            <p class="rating">4.4★/5 (12.7k)</p>
            <p class="name">SUGAR All Set To Go Translucent Powder For Face|Setting Loose Powd</p>
            <p class="shades">6gm</p>
            <p class="price">₹604 <span class="old-price">₹649</span> <span class="discount">7%</span></p>
        </div>
        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/d/c/dc91b1e8058664152254_1.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 9">
            <p class="badge">BESTSELER</p>
            <p class="rating">4.5★/5 (26.3k)</p>
            <p class="name">e.l.f. Cosmetics Lip Lacquer</p>
            <p class="shades">11 Shades</p>
            <p class="price">₹390</p>
        </div>
        <div class="product-card">
            <img src="https://images-static.nykaa.com/media/catalog/product/f/2/f246d118906087770534.jpg?tr=cm-pad_resize,w-500,h-500" alt="Product 10">
            <p class="badge">BESTSELER</p>
            <p class="rating">4.5★/5 (7.4k)</p>
            <p class="name">Pixi On The Glow Cream Blush</p>
            <p class="shades">4 Shades</p>
            <p class="price">₹1950</p>
        </div>
        
    </div>
</div>
    <section class="banner-section">
        <div class="banner">
            <img src="{% static 'asset/banner.png' %}" alt="Diapering Essentials" />

        </div>
      
        <div class="combo-section">
          <h2>Bestselling Combos</h2>
          <a href="#" class="shop-btn">Shop All Products <span>→</span></a>
        </div>
      </section>
        

      {% include 'footer.html' %}
    
  
</body>
</html>

  