<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">    
</head>
<body>
    <header>
        <h1>Terms and Conditions</h1>
    </header>
    <main>
        <p>Allora Gift Cards are valid for 1 year from the date of purchase and can be redeemed only on the Allora platform.</p>
        <a href="/gift_cards">Back to Gift Cards</a>
    </main>
</body>
</html>